# --- Dependencies ---
node_modules/
jspm_packages/

# --- Smart Contract Artifacts (Hardhat/Truffle) ---
artifacts/
cache/
cache_hardhat/
typechain-types/
# Brownie / Truffle
build/
# Foundry
out/

# --- Environment & Secrets ---
.env
.env.local
.env.example
.env.*.local
*.secret
# Hardhat temporary deployment files
/broadcast
/.openzeppelin/

# --- JavaScript Build & Testing ---
dist/
build/
.next/
out/
.docusaurus/
.cache/
coverage/
*.lcov

# --- Logs & Debugging ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# --- IDE & System Files ---
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db

client.example/
.vercel
